<!DOCTYPE html>

<html>

<head>c
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="./css/style.css">
</head>c

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Vikas Kumar. It uses data from mapbox.com and weatherstac.com.</p>
        <img class="portrait" src="/img/vikas.jpg">
    </div>
    
    
    {{>footer}}
</body>


</html>